MQTT_HOST=[HOST DETAILS HERE]
MQTT_PORT=1883
MQTT_USER=mqtt_subscriber
MQTT_PASS=[PASSWORD HERE]
MQTT_TOPIC=gatemate/lab/gate/vehicle_present
NTFY_SERVER=https://ntfy.sh
NTFY_TOPIC=gatemate-lab-alerts
NOTIFY_ON_FALSE=false